html
  head
    link(rel='stylesheet', href='/css/style.css')
    title= "Expenses"
  body
    div(class='topbox')
      h1= "Expenses"
    div(class='login')
      form(action=action, method="POST")
        h3= prompt
        p= username
        input(type="text", name="username")
        p= password
        input(type="password", name="pw")
        p= adminlabel
        input(type="checkbox", name="admin", disabled=check)
        <br>
        input(type="submit", class="submit")

      a(href="/createaccount")=msg
